{
  "extends": [
    "airbnb",
    "airbnb-base"
  ],
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  }
}
