{
  "extends": [
    "airbnb",
    "airbnb-base"
  ],
  "env": {
    "node": true,
    "browser": true
  },
// # linebreak-style: ["error", "windows"]
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  }
}
