{
  "extends": ["airbnb"],
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "linebreak-style": ["error", "windows"],
    "react/require-default-props": [0, { "forbidDefaultForRequired": false, "ignoreFunctionalComponents": false }],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", "jsx", "ts", "tsx"]
      }
    ],
    "import/extensions": "off",
    "max-len": ["warn", 120, 2]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}